* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e0dfe2;
  font-family: "Poppins", sans-serif;
}

.toDo {
  width: 100%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: flex-start;
  border: 1px solid black;
  background: #fff;
  width: 60%;
  height: 100%;
  margin-top: 10%;
  box-shadow: 1px 1px 1px 2px rgba(0, 0, 0, 0.438);
}

.heading {
  display: flex;
  align-items: center;
  width: 100%;
  background: rgba(9, 9, 121, 1);
}

.heading h1 {
  font-size: 25px;
  font-weight: 900;
  padding: 15px;
  width: 100%;
  color: #fff;
}

.listForm {
  list-style: none;
  width: 100%;
}

.input {
  font-size: 18px;
  outline: none;
  border: none;
  font-style: italic;
  font-weight: 100;
  padding: 20px 20px;
  width: 100%;
}

.breakline {
  width: 100%;
}

.clear-btn {
  align-self: center;
  text-align: center;
  background: rgba(9, 9, 121, 1);
  color: #fff;
  padding: 15px;
  cursor: pointer;
}

.clear-btn:hover {
  color: #fd1d1d;
  text-decoration: underline;
}

.second-part {
  width: 100%;
}

.items {
  display: flex;
  flex-direction: column;
}

.update-status {
  cursor: pointer;
  color: #fdbb2d;
}

.delete-activity {
  margin-right: 15px;
  margin-left: auto;
  cursor: pointer;
  color: #fdbb2d;
}

.activity {
  margin-left: 10px;
  width: 100%;
}

.list-item p.completed {
  text-decoration-line: line-through;
  color: rgba(0, 0, 0, 0.45);
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  background: #3670ec;
  color: #fff;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  align-items: center;
  width: 100%;
}

.Enter {
  margin-right: 20px;
  margin-left: auto;
  cursor: pointer;
  color: rgb(131, 58, 180);
}

.loop {
  margin-right: 20px;
  margin-left: auto;
  cursor: pointer;
  color: rgb(131, 58, 180);
}
